{% let page_title = 'todo list' %}
{% let page_description = 'List of todos' %}
{% let angular_app_name = 'todo' %}
{% include view_path("common") %}

{% extends view_path("default_body_angular") %}





{%  block body_content %}






{% endblock %}
